# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
dnftorch_env/
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
bin/
include/
lib/
lib64/
pyvenv.cfg

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Editors / IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environments / settings
.env
.env.*
.dnftorch_env.*
